* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.logout-button {
    padding: 8px 16px;
    background-color: red;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.logout-button:hover {
    background-color: darkred;
}

.link-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.add-link,
.search-button,
.edit-link,
.delete-link {
    flex-grow: 1;
    padding: 10px;
    margin: 0 5px;
    border: 1px solid #04AA6D;
    border-radius: 4px;
    color: #04AA6D;
    background-color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.add-link:hover,
.search-button:hover,
.edit-link:hover,
.delete-link:hover {
    background-color: #04AA6D;
    color: white;
}

.search-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form {
    margin-bottom: 20px;
}

form input[type="text"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
}

th {
    background-color: #04AA6D;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #ddd;
}

table img {
    max-width: 100%;
    height: auto;
}

.product-image {
    max-width: 50px;
    height: auto;
    display: block;
    margin: 0 auto;
}
